@import './index';

html, body {
  height: 100%;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

//   @include respond-to(phoneSize) { width: 100% ;}
//   @include respond-to(tableSize) { width: 125px; }
//   @include respond-to(desktopSize) { float: none; }