$phoneSize: 640px;
$desktopSize: 1024px;

@mixin respond-to($media) {
  @if $media == phoneSize {
    @media only screen and (max-width: $phoneSize) { @content; }
  }
  @else if $media == tableSize {
    @media only screen and (min-width: $phoneSize + 1) and (max-width: $desktopSize - 1) { @content; }
  }
  @else if $media == desktopSize {
    @media only screen and (min-width: $desktopSize) { @content; }
  }
}

.make-tall {
  height: 100%;
}

// .profile-pic {
//   float: left;
//   width: 250px;
//   @include respond-to(phoneSize) { width: 100% ;}
//   @include respond-to(tableSize) { width: 125px; }
//   @include respond-to(desktopSize) { float: none; }
// }