@import '../index';

.login-box {
  width: 50%;
  height: 50%;
  margin: auto auto;
  background-color: blue;
}

.login-card {
  @include respond-to(phoneSize) { 
  }
  @include respond-to(tableSize) { 
    max-width: 400px;
    margin: 50px auto;
  }
  @include respond-to(desktopSize) { 
    max-width: 400px;
    margin: 50px auto;
  }
}

.login-actions {
  padding: 25px 8px 17px 17px !important;
}

.login-button-clear {
  float: right;
}

//   @include respond-to(phoneSize) { width: 100% ;}
//   @include respond-to(tableSize) { width: 125px; }
//   @include respond-to(desktopSize) { float: none; }